/*
 * Empty Stylesheet file.
 */

/* Layout Color */
.layout{
    -fx-background-color: #A0522D;
}

/* Button */
.roundButton{
    -fx-background-radius:15;
    -fx-background-color: #cccccc;
    ;
}
/* List */
.list-view {
    -fx-background-color: #9999ff;   
}
.list-view .listcell{
    -fx-padding: 20 10 10 0;
    -fx-background-color: #00ffff;
    -fx-text-fill: lightpink;    
}
.list-view .listcell:cell-selection{
    -fx-background-color: -fx-focus-color,#00fc05;
}
